body {
	margin: 0;
	background-color: lightgoldenrodyellow;
	font-family: Inter, sans-serif;
	color: white;
}
h1,
p {
	margin: 0;
	border: 0;
	padding: 0;
}
.header {
	text-align: center;
	padding: 20px 0px 10px 0px;
}
main {
	margin: 10px 50px;
	height: 60vh;
	background-color: #393f49;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.invisible {
	display: none;
}
footer {
	text-align: center;
	width: 100%;
	font-size: 12px;
	color: black;
	margin: 15px 0px;
}
.subjectChangeButton,
.addSubjectButton {
	margin-right: 16px;
	background-color: white;
	color: #393f49;
	padding: 7px 15px;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	font-weight: 600;
	transition: all 0.25s ease;
	cursor: pointer;
}
.subjectChangeButton.active {
	background-color: #00aeef;
	color: #fff;
}
.subjectChangeButton.active:hover {
	background-color: #00aeef;
	color: #fff;
}
.subjectChangeButton:hover,
.addSubjectButton:hover {
	background-color: lightgoldenrodyellow;
	color: #393f49;
}
.addSubjectLabel {
	font-weight: 500;
}
.addSubjectInput {
	margin: 0px 10px 20px 10px;
	padding: 7px 15px;
	border-radius: 5px;
	border: none;
	outline: none;
	width: 20%;
	font-size: 14px;
	font-weight: 400;
}
