body {
	margin: 0;
	background-color: lightgoldenrodyellow;
	font-family: Inter, sans-serif;
	color: white;
}
h1,
p {
	margin: 0;
	border: 0;
	padding: 0;
}
.header {
	text-align: center;
	padding: 20px 0px 10px 0px;
}
main {
	margin: 10px 50px;
	height: 100%;
	background-color: #393f49;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}
.invisible {
	display: none;
}
footer {
	text-align: center;
	width: 100%;
	font-size: 12px;
	color: #242021;
	margin: 15px 0px;
}
.subjectChangeButton,
.addSubjectButton,
.exportButton {
	margin-right: 16px;
	background-color: white;
	color: #242021;
	padding: 7px 15px;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	font-weight: 600;
	transition: all 0.25s ease;
	cursor: pointer;
}
.subjectChangeButton.active {
	background-color: #2cbcb2;
	color: #fff;
}
.subjectChangeButton.active:hover {
	background-color: #2cbcb2;
	color: #fff;
}
.subjectChangeButton:hover,
.addSubjectButton:hover,
.exportButton:hover {
	background-color: #d44e28;
	color: #242021;
}
.addSubjectLabel {
	font-weight: 500;
}
.addSubjectInput {
	margin: 0px 10px 00px 10px;
	padding: 7px 15px;
	border-radius: 5px;
	border: none;
	outline: none;
	width: 32%;
	font-size: 14px;
	font-weight: 400;
}
.selectPage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 175px 400px;
}
.selectOption {
	background-color: #2cbcb2;
	text-decoration: none;
	color: #242021;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	border: none;
	transition: all 0.25s ease;
}
.selectOption:hover {
	background-color: #d44e28;
}
.subjectName {
	text-transform: uppercase;
	font-size: 20px;
	margin: 20px 0px 10px 0px;
	letter-spacing: 0.75px;
	font-weight: 700;
}
.line {
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.tableHeading {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.75px;
	color: #2cbcb2;
}
.tableHeading span {
	font-weight: 300;
	text-transform: none;
	font-size: 14px;
	letter-spacing: 0px;
	color: #fff;
}
